
@import '../../styles/variables';
@import '../../styles/mixin';
@import '../../styles/utility';
@import '../../styles/colors';

// Stile intero header
.page_header {
    display: flex;
    flex-direction: column;
    background-color: $mip-light-background;
}

// Toolbar principale con menubar e tool vari
.main_toolbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $mip-navbar-height;
}

// Barra con navigazione e tasto bollettino

.menubar {
    position: absolute;
    left: 0rem;
    top: 100%;
    width: 100%;
    background-color: $mip-light-background;
    z-index: 1000;
    // Contenitore del pulsante bollettino
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
        border-top: 1px solid $mip-dark-border-color;
    }

    // Link nella navbar
    .nav_link {
        display: block;
        height: 3rem;
        width: 100%;
        padding-left: 1rem;
        color: $mip-dark-link-color;
        border-top: 1px solid $mip-dark-border-color;
        font-size: .875rem;
        font-weight: bold;
        line-height: 3rem;
        text-transform: uppercase;
    }
}

// Stili per desktop

@media (min-width: $mip-tablet-break) {
    .menubar {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav,
        ul {
            display: flex;
            margin: 0 auto;
        }
        .nav_link {
            display: initial;
            width: max-content;
            border: none;
        }
        .toolbar {
            border: none;
            height: max-content;
        }
    }
}

// Barra dei pulsanti presente solo su mobile

.mobile_button_bar {
    @extend .mip-md-flex;
    .toolbar_btn {
        padding: 1.5rem;
        background-color: $mip-light-background;
    }
}

// Header secondario 

.secondary_header {

    height: 3.2rem;

    .tools {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }

    .icon {
        width: 1.3rem;
        height: 1.3rem;
        margin: auto;
        margin-left: .75rem;
        background-color: $mip-light-background;
        border-radius: 1rem;
    }

    .link {
        display: inline-flex;
        color: $mip-light-color;
    }

    button {
        background-color: $mip-light-background;
        color: black;
        height: 1.75rem;
        margin-left: .75rem;
        padding: .2rem .5rem .2rem 3.5rem;
        background-image: url('/icons/user.svg');
        background-position: left;
        background-repeat: no-repeat;
        background-position-x: 1rem;
        border-radius: .3rem;
        text-transform: uppercase;
    }

    select {
        height: 1.75rem;
        width: max-content;
        margin-left: .75rem;
        padding: 0 .75rem;
        border-radius: .3rem;
    }

    .personal_area {
        @extend .mip-md-none;
    }
}

@media (min-width: $mip-tablet-break) {
    .secondary_header {
        .tools {
            justify-content: flex-end;
        }
    }
}

// Barra di ricerca 

.search_bar {

    input {
        @include mip-left-icon('search', 2.7rem);
        height: 2rem;
        width: 10rem;
        margin-left: 1.3rem;
        background-position-x: 1rem;
        font-size: 1rem;
        border: 1px solid $mip-dark-border-color;
        border-radius: 22px;
    }

    input::placeholder {
        font-size: .75rem;
        text-transform: uppercase;
    }
}

// Titolo e breadcrumb

.page_title {
    width: 100%;
    height: 4rem;
    h1 {
        font-size: 1.875rem;
        line-height: 4rem;
        font-weight: bold;
    }

}

.breadcrumb {
    width: 100%;
    height: 2.4rem;

    a {
        @include mip-left-icon('left-arrow', 1.5rem);
        font-size: 0.75rem;
        line-height: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $mip-blue-color;
    }
}