/**
    (C) Duel srl 2021.

    Stili per i pannello del trasporto pubblico.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/
@import '../../styles/variables';
@import '../../styles/mixin';

.public_transport_card {
    border-bottom: 1px solid $mip-light-border-color;
    
    .tag {
        margin: .5rem 0;
    }

    .title {
        font-size: .875rem;
        font-weight: 600;
    }

    .content {
        padding: .75rem 0;
        font-size: .75rem;
        line-height: 1.125rem;
        color: $mip-gray-text-color;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        color: $mip-gray-text-color;
        font-size: .75rem;
        font-weight: bold;
        text-transform: uppercase;

        .expander {
            @include mip-right-icon('chevron-down', 2rem);
            font-size: .875rem;
            font-weight: 600;
        }

        a {
            @include mip-right-icon('chevron-right', 2rem);
            font-size: .875rem;
            font-weight: 600;
            color: $mip-accent-color;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.news_card_grid {
    flex-wrap: wrap;
    width: 100%;

    .news_card + .news_card {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .simple_news_card,
    .news_card {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;

        .thumbnail {
            width: 20rem;
        }

        .title {
            font-weight: bold;
        }

        .content {
            display: flex;
            flex-direction: column;
            font-size: .875rem;
        }

        .toolbar {
            display: flex;
            width: 100%;
            margin-top: auto;
            border-top: 1px solid black;

            a {
                @include mip-right-icon('right-arrow-accent', 1.5rem);
                margin-left: auto;
                font-size: .875rem;
                font-weight: 600;
                color: $mip-accent-color;
                text-transform: uppercase;
            }

            a:hover {
                text-decoration: underline;
            }

            p {
                font-size: .875rem;
                font-weight: 600;
                color: $mip-gray-text-color;
                text-transform: uppercase;
            }
        }
    }

    .news_card {
        width: 20rem;
        height: 22.6rem;
    }

    .simple_news_card {
        height: auto;

        .content {
            margin-bottom: 1em;
        }
    }
}
