/**
    Duel srl

    Stili per gli elementi della UI per il calcolo del percorso.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/
@import '../../styles/variables';
@import '../../styles/mixin';

$title-row: 1;
$option-row: 1;
$input-row: 2;

// Stili per richiesta dati per calcolo percorso

.path_data_dialog {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background-color: $mip-blue-background;
    color: $mip-light-color;
    height: fit-content;

    .path_data_panel {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        grid-gap: .5rem;
    }

    .icon {
        width: 1rem;
        height: 1rem;
    }

    .input_separator {
        grid-column: 1 / span 2;
        height: 1.5rem;
        margin-left: .4rem;
        border-left: 1px dashed $mip-light-color;
    }

    .mode_label {
        line-height: 3rem;
        margin-bottom: .7rem;
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: bold;
    }    

    .radio_group {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .25rem;

        .radio_label {
            margin-top: .375rem;
            text-transform: uppercase;
            font-size: .725rem;
            line-height: 1.125rem;
            font-weight: bold;
            text-align: center;
        }

        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .icon {
            width: 2.4rem;
            height: 2.4rem;
            padding: .25rem;
            border: 1px solid $mip-light-color;
            border-radius: 50%;
        }

        .active {
            .icon {
                border: 1px solid black;
            }
        }    
        .checked {
            .icon {
                border-color: black;
                background-color: black;
                filter: invert(1);
                border: 1px solid black;
            }
        }
    }

    .additional_options {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        align-items: center;
        
        label,
        input,
        select {
            margin-top: .5rem;
            margin-right: 1rem;
            background-color: $mip-blue-background;
            color: $mip-light-color;
            border: 0;
            font-size: 1rem;
        }
        input, select {
            border-radius: 0;
            border-bottom: 1px solid $mip-light-color;
        }
    }

    .loading_indicator,
    .submit_button {
        min-width: 50%;
        margin: auto;
        height: 3rem;
        margin: 1.5rem auto .75rem auto;
        padding: .3em 1em;
        background-color: $mip-light-background;
        color: $mip-blue-color;
        border-radius: .3rem;
    }

    .submit_button {
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .loading_indicator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .additional_option_group {
        display: flex;
    }
}

// Layout per tablet

@media screen and (min-width: $mip-break-mobile) and (max-width: $mip-break-tablet){
    
    .path_data_dialog.responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .path_data_panel {
            display: flex;
            grid-column: 1 / -1;
            margin-bottom: .5rem;
        }
        .input_separator {
            display: none;
        }
        .additional_options {
            margin-top: .5rem;
        }
        .swapLocations {
            margin: auto 1rem;
            transform: rotate(-90deg);
        }
        .loading_indicator,
        .submit_button {
            grid-row: 3 / 3;
            grid-column: 2 / 2;
            width: auto;
            margin-top: auto;
            margin-bottom: 1rem;
            margin-right: 1.5rem;
        }
    }
}
