/**
    (C) Duel srl 2021.

    API per il calcolo del percorso.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';

$plan-cell-padding-x: 1.5rem;
$plan-cell-padding-y: 1rem;
$plan-icon-col-width: 2rem;
$plan-time-col-width: 3rem;

// Contenitore di un piano

.plan_panel {
    width: 100%;
    height: 100%;
    color: $mip-text-color;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid $mip-light-border-color;
}

.plan_cell_base {
    width: 100%;
    padding: $plan-cell-padding-y $plan-cell-padding-x;
    border-bottom: 1px solid $mip-light-border-color;
}

// Icona
.path_icon {
    width: 1.5rem;
    height: auto;
}
.plan_header {
    @extend .plan_cell_base;
    display: grid;
    grid-template-columns: $plan-icon-col-width 1fr auto;
    column-gap: 1rem;
    background-color: $mip-blue-color;
    color: $mip-light-color;
    font-size: 1rem;
    img {
        margin: auto;
    }
}
// Itinerario

.itinerary_panel {
    position: absolute;
    top: 0;
    left: 90%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: $mip-light-background;
    &.open {
        left: 0%;
    }
}

// Pannello messaggi (usato solo per errori

.plan_msg_panel {
    @extend .plan_cell_base;

    color: $mip-error-color;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

// Bottone di apertura di un itinerario

.itinerary_expand_button {
    width: 100%;
    background-color: $mip-light-background;
    color: $mip-text-color;
    text-align: start;
}

// Header per itinerario

.itinerary_header {
    @extend .plan_cell_base;
    display: grid;
    grid-template-columns: $plan-icon-col-width 1fr auto;
    column-gap: 1rem;
    width: 100%;
    background-color: $mip-light-background;
    font-size: .8125rem;
    
    .details {
        text-align: end;
    }

    .duration,
    .title {
        font-size: .9375rem;
    }

    .duration {
        color: $mip-blue-color;
    }
    .distance{
        font-weight: 300;
    }

    .cta {
        grid-column: 2 / -1;
        text-transform: uppercase;
        color: $mip-blue-color;
        font-weight: 600;
        text-align: left;
    }

}

.pictogram {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1.5rem;
    font-size: .75rem;
    color: darkgray;
    
    img {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }

    .plate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 .5em;
        margin-right: .5rem;
        border: 1px solid darkgray;
        border-radius: 2px;
    }

    .separator {
        margin-right: .5rem;
        font-size: 1rem;
    }
}

// Bottone apertura Leg

.leg_expand_button {
    width: 100%;
    background-color: $mip-light-background;
    color: $mip-text-color;
    text-align: start;
}

.leg_header {
    @extend .plan_cell_base;
    display: grid;
    grid-template-columns: $plan-icon-col-width 1fr $plan-icon-col-width;

    .title {
        font-size: .9375rem;
    }

    .duration {
        font-weight: 300;
    }
}

.transit_leg_description {
    @extend .plan_cell_base;

    display: grid;
    grid-template-columns: $plan-icon-col-width $plan-time-col-width  1fr $plan-icon-col-width;

    .title {
        display: flex;
        font-size: .9375rem;
    }

    .plate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 .5em;
        margin-right: .5rem;
        border: 1px solid darkgray;
        border-radius: 2px;
    }
}

.itinerary_location {
    @extend .plan_cell_base;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}
// Descritione di uno step


.step_panel {
    @extend .plan_cell_base;
    display: grid;
    grid-template-columns: $plan-icon-col-width auto 1fr;
    margin-left: $plan-icon-col-width;
    border: none;
    font-size: .9375rem;

    .instruction {
        grid-column:  2 / -1;
        padding-bottom: 1rem;
    }
    .emphasis {
        color: $mip-dark-blue-color;
        font-weight: 600;
    }
    .distance {
        grid-column:  2 / 2;
        color: $mip-gray-text-color;
    }
    .filler {
        grid-column:  3 / -1;
        width: 100%;
        height: 50%;
        border-bottom: 1px solid $mip-light-border-color;
    }
}

.stop_panel {
    @extend .plan_cell_base;
    display: grid;
    grid-template-columns: $plan-icon-col-width $plan-time-col-width  1fr;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    font-size: .9375rem;

    .time {
        grid-column:  2 / 2;
    }

    .stop_name {
        grid-column:  3 / -1;
        position: relative;
        min-height: 2rem;
        line-height: 2rem;
        border-left: 4px solid darkgrey;
        margin-left: 4px;
        padding-left: 10px;
    }

    .stop_name::after {
        content: url("data:image/svg+xml,<svg width='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'><circle cx='5' cy='5' r='5' fill='white' stroke='black'/></svg>");
        position: absolute;
        left: -7px;
        top: 0%;
    }
}