/**
    Duel srl

    Stili per gli elementi della UI per il calcolo del percorso.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/
@import '../../styles/variables';
@import '../../styles/mixin';

.path_data_dialog {
    padding: 2rem;
    background-color: $mip-blue-background;
    color: $mip-light-color;
}

// Container per input partenza e destinazione

.path_input_container {
    
    margin-bottom: 2rem;

    .input {
        margin-right: 2.5rem;
    }
    .divisor {
        display: flex;
        height: 3rem;
        border-left: 1px dashed $mip-light-color;
        
        .swap_button {
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            background-image: url(/icons/path-swap.svg);background-repeat: no-repeat;
            background-position: center;
            margin-left: auto;
            margin-top: 1rem;
        }
    }
}

.radio_group_container {
    
    .label {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: bold;
    }

    .radio_group {

        display: flex;
        justify-content: space-between;
        margin-right: 2.5rem;
        margin-top: 1rem;

        .option::before {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid white;
            border-radius: 50%;
        }
    
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .car::before {
            background-image: url(/icons/car.svg);
        }

        .bus::before {
            background-image: url(/icons/bus.svg);
    
        }
        .walk::before {
            background-image: url(/icons/walk.svg);
        }

        .bike::before {
            background-image: url(/icons/bike.svg);
        }

        .checked::before {
            border-color: black;
            background-color: black;
            filter: invert(1);
        }
        
        .active::before {
            border: 1px solid $mip-light-color;
        }

        .radio_label {
            margin-top: .4rem;
            text-transform: uppercase;
            font-size: .625rem;
            font-weight: bold;
        }
    }
}

.footer {
    display: flex;
    margin-top: 3.1rem;
    input {
        margin: 0 auto;
        color: $mip-blue-background;
        background-color: $mip-light-color;
    }    
}


// Path data panel

.path_data_panel {
    min-width: 20rem;
    height: 30rem;
    padding: 1.25rem 2.125rem 1.5rem;
    background-color: $mip-blue-background;
    color: $mip-light-color;

    .title {
        @include mip-left-icon('path-search', 1.5rem);

        font-weight: bold;
        margin-bottom: 2em;
    }
}

