@import '../../styles/variables';
@import '../../styles/mixin';

.path_data_dialog {
    background-color: $mip-blue-background;
    color: $mip-light-color;

    .button_bar {
        display: flex;
        justify-content: space-between;
        margin-right: 2em;
        margin-bottom: 2.8rem;
    }

    .path_input {
        width: 100%;
    }

    .button_bar_title {
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }

    .divisor {
        display: flex;
        height: 3.125rem;
        border-left: 1px dashed $mip-light-color;
        img {
            margin-top: auto;
            margin-left: auto;
        }
    }

    .input {
        display: flex;
        // width: 100%;
        // input {
        //     width: 100%;
        //     height: 1.625rem;
        //     margin-right: 2em;
        //     border: none;
        //     border-bottom: 1px solid $mip-light-color;
        //     border-radius: 0;
        //     color: $mip-light-color;
        //     background-color: transparent;
        //     font-size: 1rem;
        //     line-height: 1.5rem;
        // }

        img {
            width: 1rem;
            margin-right: .75rem;
        }

        // input::placeholder {
        //     color: $mip-light-color;
        //     font-weight: 300;
        // }

        // input:focus {
        //     outline: none;
        // }
    }

    .footer {
        display: flex;
        margin-top: 3.1rem;
        button {
            margin: 0 auto;
            color: $mip-blue-background;
            background-color: $mip-light-color;
        }    
    }
}

// Path data panel

.path_data_panel {
    min-width: 20rem;
    height: 30rem;
    padding: 1.25rem 2.125rem 1.5rem;
    background-color: $mip-blue-background;
    color: $mip-light-color;

    .title {
        @include mip-left-icon('path-search', 1.5rem);

        font-weight: bold;
        margin-bottom: 2em;
    }
}