/**
    (C) Duel srl 2021.

    API per il calcolo del percorso.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';

$plan-cell-padding-x: 1rem;
$plan-cell-padding-y: 1rem;
$plan-column-gap: .5rem;
$plan-icon-col-width: 2rem;
$plan-time-col-width: 4em;
$plan-font-size: .875rem;
$plan-border-color: $mip-light-border-color; 
$plan-hover-background: #ddd;

// Utility

// Contenitore del piano
.plan_panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $mip-text-color;
    font-size: $plan-font-size;
    border: 1px solid $plan-border-color;

    & > * {
        width: 100%;
        background-color: $mip-light-background;
    }
}

// Contenintore della descrizione di un itinerario
.itinerary_panel {
    position: absolute;
    top: 0;
    left: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.open {
        left: 0%;
    }
}

.itinerary_details {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 1px solid $plan-border-color;
    border-bottom: 1px solid $plan-border-color;

    & > * {
        border-bottom: 1px solid $plan-border-color;
    }
    & :last-child {
        border-bottom: none;
    }
}

.plan_header,
.itinerary_header,
.leg_header,
.location_header,
.stop_panel,
.step_panel {
    display: grid;
    padding: $plan-cell-padding-y $plan-cell-padding-x;
    column-gap: $plan-column-gap;
    text-align: start;
    &:hover,
    &:focus {
        background-color: $plan-hover-background;
    }
}

// Header piano

.plan_header {
    grid-template-columns: $plan-icon-col-width 1fr;
    background-color: $mip-blue-color;
    color: $mip-light-color;
    border-radius: $mip-panel-border-radius 0 0 0;
    img {
        margin: auto;
    }
    &:hover,
    &:focus {
    background-color: $mip-dark-blue;
    }
}

// Header per itinerario
.itinerary_header {
    grid-template-columns: $plan-icon-col-width 1fr auto;
    padding: $plan-cell-padding-y $plan-cell-padding-x;

    .details {
        text-align: end;
    }

    .cta {
        grid-column: 2 / -1;
        text-transform: uppercase;
        color: $mip-blue-color;
        font-weight: 600;
        text-align: left;
    }

    &:hover, &:focus {
        background-color: $plan-hover-background;
    }
}

// Icona
.path_icon {
    width: 1.5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

// Pannello messaggi (usato solo per errori

.plan_msg_panel {
    color: $mip-error-color;
    text-align: center;
    font-weight: bold;
}

.pictogram {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1.5rem;
    font-size: .75rem;
    color: darkgray;
    
    img {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }

    .plate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 .5em;
        margin-right: .5rem;
        border: 1px solid darkgray;
        border-radius: 2px;
    }

    .separator {
        margin-right: .5rem;
        font-size: .875rem;
    }
}

// Bottone apertura Leg

.leg_expand_button {
    width: 100%;
    background-color: $mip-light-background;
    text-align: start;
}

.leg_header {
    grid-template-columns: $plan-icon-col-width $plan-time-col-width  1fr $plan-icon-col-width;

    .title {
        grid-column: 2/4;
    }
    .plate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 .5em;
        margin-right: .5rem;
        border: 1px solid darkgray;
        border-radius: 2px;
    }
}

.location_header{
    font-weight: 600;
    text-transform: capitalize;
}

.step_panel {
    display: grid;
    grid-template-columns: $plan-icon-col-width max-content 1fr;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 1em;
    align-items: center;
    
    .instruction {
        grid-column:  2 / -1;
        //padding-bottom: 1rem;
    }
    .emphasis {
        color: $mip-dark-blue-color;
        font-weight: 600;
    }
    .distance {
        grid-column:  2 / 2;
        color: $mip-gray-text-color;
    }
    .filler {
        grid-column:  3 / -1;
        width: 100%;
        height: 50%;
        border-bottom: 1px solid $mip-light-border-color;
    }
}

.stop_panel {
    display: grid;
    grid-template-columns: $plan-icon-col-width $plan-time-col-width  1fr;
    align-items: center;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;

    .time {
        grid-column:  2 / 2;
        justify-self: center;
    }

    .stop_name {
        grid-column:  3 / -1;
        position: relative;
        min-height: 2rem;
        line-height: 2rem;
        border-left: 4px solid darkgrey;
        margin-left: 4px;
        padding-left: 10px;
    }

    .stop_name::after {
        content: url("data:image/svg+xml,<svg width='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'><circle cx='5' cy='5' r='5' fill='white' stroke='black'/></svg>");
        position: absolute;
        left: -7px;
        top: 0%;
    }
}

.location_popup {
    padding: .25rem;
    font-size: .826rem;

    .title {
        font-weight: 600;
        margin-bottom: .25rem;
    }

    .name {
        text-transform: capitalize;
        word-wrap: break-word;
    }

    .button_bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: .5rem;
        margin-top: 1em;
    }
    button {
        background-color: $mip-blue-background;
        color: $mip-light-color;
        font-size: .75rem;
        padding: .3em 1em;
        width: 100%;
        border-radius: .35em;
    }
}

// Utility

.panel_open {
    border-bottom: none;
}

.icon {
    grid-column:  1 / 1;
    justify-self: center;
    height: 1rem;
}

