/**
    (C) Duel srl 2021.

    Stili usati per le informazioni di traffico.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';
@import '../../styles/mixin';

// Stile per MIPTraffic.EventCard ------------------------------

.traffic_event_card {

    .card_title {
        padding-left: 2.3rem;
        font-size: 1rem;
        font-weight: bold;
        background-size: 31px 22px;
        background-position: left;
        background-repeat: no-repeat;
    }

    .container {
        margin-left: 2.5rem;
        margin-bottom: .4rem;
    }

    .text {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
    }

    .what {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .where {
        @include mip-left-icon('location-pin', 1.8rem);
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        text-transform: uppercase;
    }

    .when {
        @include mip-left-icon('calendar', 1.8rem);
        font-size: .75rem;
        margin-top: .32rem;
    }
}

// Stili per la lista di event card MIPTraffic.EventCardList

.traffic_event_card_list {

    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    color: $mip-text-color;
    background-color: $mip-light-background;

    .search_panel {
        display: flex;
        width: 100%;
        height: 5.325rem;
        padding: 1rem;
        padding-top: 0rem;
        background-color: $mip-accent-background;
        color: $mip-light-color;
    
        .input {
            @include mip-left-icon('search', 2rem, 1rem);
            height: 2.75rem;
            width: 100%;
            margin: auto 0 auto 2rem;
            padding-left: 2.5rem;
            color: $mip-dark-blue-color;
            border-radius: .25rem 0 0 .25rem;
            border: 1px solid $mip-light-border-color;
            font-size: 1rem;
        }
    
        input::placeholder {
            color: $mip-dark-blue-color;
            font-size: 1rem;
            font-weight: 300;
        }

        .clearButton {
            width: 3em;
            height: 2.75rem;
            padding: 0;
            border: 0;
            margin: auto 2rem auto 0;
            color: $mip-dark-blue-color;
            background-color: $mip-light-background;
            border-radius: 0 .25rem .25rem 0;
            border: 1px solid $mip-light-border-color;
            font-size: 1rem;
        }

        .clearButton:hover,
        .clearButton:focus {
            color: $mip-accent-color;
        }
    }
    
    .list_container {
        padding: .5rem 0;
        height: 100%;
        overflow-y: auto;
        border: 1px solid $mip-dark-border-color;
    }

    .list_item {
        padding: 0 1rem;
    }

    .list_item:hover {
        background-color: $mip-gray-background;
    }
}

 // Stili pannello MIPTraffic.Panel

.traffic_panel {
    
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header  {
        flex: 0 0 auto;
        width: 100%;
        padding: 1.25rem 2.125rem 1.5rem;
    }

    .title {
        @include mip-left-icon('traffic', 1.5rem);
        font-size: 1.25rem;
        font-weight: bold;
    }

    .subtitle {
        margin-top: .5rem;
        font-size: .8125rem;
        font-weight: bold;
    }    

    .event_list {
        flex: 1 1 100%;
        overflow: hidden;
    }
}
