/**
    (C) Duel srl 2021.

    Stili usati per le informazioni di traffico.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';
@import '../../styles/mixin';

.traffic_tab_panel,
.traffic_panel {
    display: flex;

    .data_container{
        min-width: 20rem;
        max-width: 30%;
    }
    
    .map_container {
        position: relative;
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
}

.traffic_panel {
    width: 100%;
}

.traffic_event_panel {
    display: flex;
    flex-direction: column;
    
    .panel_header {
        padding: 1.25rem 2.125rem 1.5rem;
        border-radius: $mip-panel-border-radius 0 0 0;

        .title {
            @include mip-left-icon('traffic', 1em);
            font-size: 1.25rem;
            font-weight: bold;
        }
    
        .subtitle {
            margin-top: .5rem;
            font-size: .75rem;
            font-weight: bold;
        }    
    }

    .list_container {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        border-left: 1px solid $mip-dark-border-color;
        border-right: 1px solid $mip-dark-border-color;
    }

    .panel_footer {
        position: relative;
        margin-top: auto;
        display: flex;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        border-left: 1px solid $mip-dark-border-color;
        border-right: 1px solid $mip-dark-border-color;
        border-bottom: 1px solid $mip-dark-border-color;
        border-radius: 0 0 0 $mip-panel-border-radius;

        a {
            margin: 0 auto;
            color: $mip-light-color;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .panel_footer::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 0;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 1px;
        z-index: 10;
      
    }
}

.traffic_event_list {
    height: 20rem;
    padding: 1.25rem;
    
    .event {
        margin-bottom: .25rem;
        border-bottom: 1px solid $mip-light-border-color;
    }
}

.traffic_event_card {

    .title {
        padding-left: 2rem;
        font-size: 1rem;
        font-weight: bold;
        background-position: left;
        background-repeat: no-repeat;
    }

    .text {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .container {
        margin-left: 2rem;
    }

    .where {
        @include mip-left-icon('location-pin', 1.5rem);
        font-size: .75rem;
        line-height: 1.125rem;
        text-transform: uppercase;
    }

    .when {
        @include mip-left-icon('calendar', 1.5rem);
        font-size: .75rem;
        //line-height: 1.125rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .event {
        margin-bottom: .25rem;
        border-bottom: 1px solid $mip-light-border-color;
    }
}

.traffic_legend {
    margin-bottom: 2rem;
    border: 1px solid $mip-dark-border-color;

    .title {
        height: 2rem;
        padding: 0 1rem;
        border-bottom: 1px solid $mip-dark-border-color;
        font-size: .875rem;
        line-height: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.6rem;
        padding: 0 1rem;

        .item {
            padding-left: 1.5rem;
            background-position: left;
            background-repeat: no-repeat;
            font-size: .75rem;
            font-weight: bold;
        }
    }
}

.traffic_tab_panel {
    display: flex;
    height: calc(100vh - 20rem);
    min-width: 25rem;
    max-width: 30%;

    .container {
        height: 100%;
    }

    .path_data_form {
       padding: 2rem;
       height: 25rem;
    }

    .list_container {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        border-left: 1px solid $mip-dark-border-color;
        border-right: 1px solid $mip-dark-border-color;
        border-bottom: 1px solid $mip-dark-border-color;
        border-radius: 0 0 0 1rem;
    }

    .map_container2 {
        position: relative;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        height: calc(100vh - 20rem);

    }
}

.map_space {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.traffic_tab_title {
    border-radius: 0 1rem 0 0;
    border-radius: 0 0rem 0 0;
}

.path_tab_title {
    border-radius: 1rem 0 0 0;
}

.traffic_label {
    @include mip-left-icon('traffic', 1.5rem);
}

.path_label {
    @include mip-left-icon('path-search', 1.5rem);
}

.search_panel {
    display: flex;
    width: 100%;
    height: 5.325rem;
    background-color: $mip-accent-background;
    color: $mip-light-color;

    input {
        height: 44px;
        margin: auto;
        width: 90%;
        border-radius: .25rem;
        border: 1px solid $mip-light-border-color;
        background-position-x: 1rem;
        color: $mip-dark-blue-color;
        font-size: 1rem;
    }

    input::placeholder {
        @include mip-left-icon('search', 2.7rem);
        background-position-x: 1rem;
        color: $mip-dark-blue-color;
        font-size: 1rem;
        font-weight: 300;
    }
}