/**
    Duel S.p.A.

    Stili per il pannello mappa

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';

.map_container {
    //position: relative !important;
    display: flex;
    min-height: 10rem;
    background-color: $mip-gray-background;
}