@import '../../styles/variables';
@import '../../styles/mixin';

.service_panel {
    min-width: 24rem;

    .service_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
        margin: .3rem;
        padding: 1rem;
        padding-bottom: .5rem;
        background: linear-gradient(-195deg, $mip-light-background 60%, $mip-blue-background 60%);
        background-position-x: 5rem;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

        .title,
        .description {
            font-weight: bold;
            color: $mip-dark-color;
        }

        .title {
            font-size: 1.25rem;
        }
        
        .description {
            font-size: .75rem;
        }

        .toolbar {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 2.5rem;
            background-position: left;
            background-repeat: no-repeat;

            a {
                @include mip-right-icon(right-arrow, 1.5rem);
                margin-left: auto;
                font-size: .875rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $mip-light-background;
            }
        }
    }
}

.radio_list {

    .card {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        min-width: 20rem;
        height: 12rem;
        margin-bottom: 1rem;
        padding: 1rem 1.25rem;
        border-radius: .375rem;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    }

    .title {
        width:80%;
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 2.375rem;
        border-bottom: 1px solid $mip-light-border-color;
    }

    .subtitle,
    .provinces {
        margin-top: .375rem;
        font-size: .75rem;
        line-height: 1.125rem;
    }

    .subtitle {
        color: $mip-gray-text-color;
        text-transform: uppercase;
    }

    .provinces {
        color: $mip-dark-color;
        font-weight: bold;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        margin-bottom: .5rem;
    }

    .link {
        @include mip-right-icon('right-arrow-accent', 1.5rem);
        color: $mip-accent-color;
        text-transform: uppercase;
    }

}