/**
    (C) Duel srl 2021.

    Stili globali per gli elementi nelle form.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import 'variables';

.mip-cta-button,
.mip-large-button {
    width: 18em;
    height: 4em;
    padding: 1em 0;
    font-size: .813rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.mip-cta-button {
    background-color: $mip-light-background;
    color: $mip-accent-color;
}

.mip-tag,
.mip-large-tag {
    width: fit-content;
    padding: .5em 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: .32rem;
}

.mip-tag {
    font-size: .75rem;
}

.mip-large-tag {
    font-size: .875rem;
}