/**
    (C) Duel srl 2021.

    Stili globali per gli elementi nelle form.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import 'variables';

.mip-large-button {
    width: 18em;
    height: 4em;
    font-size: .813rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.mip-rounded-corners {
    border-radius: $mip-panel-border-radius;
}

.mip-tag,
.mip-large-tag {
    padding: .5em 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.mip-tag {
    font-size: .75rem;
}

.mip-large-tag {
    font-size: .875rem;
}