/**
    Duel S.p.A.

    Stili usati per il layout di tutte le pagine.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

// Home page - mobile

.mip-home-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
        auto // banner
        auto // percorso
        repeat(4, 30rem) // pannelli
        auto;   // meteo
    row-gap: 1rem;
    margin-bottom: 1rem;
    .banner { grid-column: 1/-1;}
}

@media (min-width: 780px) {
    .mip-home-page {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 
        auto // banner
        auto // percorso + tempo reale
        repeat(2, 20rem) // mappa + pannelli
        auto   // meteo
        auto;   // meteo
        row-gap: 2rem;
        column-gap: 1rem;

        // .service-panel,
        // .weather-panel,
        .map-panel {
            grid-column: 1/-1;
        }
    }
}

@media (min-width: 1024px) {
    .mip-home-page {
        grid-template-columns: 1fr 1rem 1fr 1rem 1fr;
        grid-template-rows: 
            auto auto 35rem auto;
        row-gap: 2rem;
        column-gap: 0rem;
        .map-panel {
            grid-column: 4/-1;
        }
        .news-panel,
        .event-panel {
            grid-column: 3/4;
        }
        .tpl-panel {
            grid-column: 1/2;
        }
        .service-panel {
            grid-column: 5/-1;
        }
        .weather-panel {
            grid-column: 1/-1;
        }
    }
}

