/**
    Duel S.p.A.

    Stili usati per il layout di tutte le pagine.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

// Next.js usa un div intorno alla pagina con questo id
// lo stile serve a spingere il footer in basso nella pagina anche 
// quando è semi vuota
//
#__next {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mip-page-header,
.mip-page-main,
.mip-page-section,
.mip-page-footer {
    width: 100%;
    
    .mip-page-row,
    .mip-page-flex-row {
        min-width: 64rem;
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 3rem;
    }

    .mip-page-flex-row {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.mip-page-footer {
    margin-top: auto;
}

.mip-page-panel {
    flex-grow: 1;
    min-width: 24rem;
}

.mip-service-panel {
    flex-grow: 0;
    width: 24rem;
}

.mip-path-data-panel {
    min-width: 20rem;
    max-width: 30%;
    height: 100%;
}

.mip-traffic-panel {
    margin-left: 2rem;
    height: 40rem;
}