/**
    Duel S.p.A.

    Stili usati per il layout di tutte le pagine.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

// Next.js usa un div intorno alla pagina con questo id
// lo stile serve a spingere il footer in basso nella pagina anche 
// quando è semi vuota
//
// #__next {
//     display: flex;
//     flex-direction: column;
//     min-height: 100%;
// }

// Contenitore dell'intera pagina

.mip-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;

    .mip-page-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem;
        min-width: 25rem;
        max-width: 90rem;
    }
}

// Pagina a tre colonne - responsive

.mip-3col-page {
    display: grid;
    column-gap: 2rem;
}

@media (min-width: 780px) {
    .mip-3col-page {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: $mip-break-tablet) {
    .mip-3col-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.mip-temp-page {

    h2 {
        font-size: 2rem;
        margin-bottom: 1em;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.2rem;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.6em;
        margin-bottom: 1em;
    }

    ul {
        list-style: disc;
        margin-left: 2rem;
    }

    li.none {
        list-style: none;
    }
    
    li.square {
        list-style: square;
    }

    a {
        color: $mip-blue-color;
    }

    b {
        font-weight: 600;
    }
}