@import "~@fontsource/titillium-web/index.css"; // Weight 400.
@import "~@fontsource/titillium-web/300";
@import "~@fontsource/titillium-web/400";
@import "~@fontsource/titillium-web/600";
@import "~@fontsource/titillium-web/700";

.mip-base-font {
    font-size: 20px;
}

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}