/**
    (C) Duel srl 2021.

    Variabili utilizzabii per la personalizzazione del layout e del design system.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@use "sass:math";

// Fonts

$mip-root-font-size: 16;
$mip-default-font-family:  'Titillium Web';

// Colors

$mip-dark-background: #001729;
$mip-light-color: #fff;

$mip-light-background: #fff;
$mip-dark-color: #222;
$mip-gray-text-color: #8C8C8C;

$mip-blue-background: #368CF7;
$mip-accent-color: #DA3463;
$mip-accent-background: #DA3463;
$mip-dark-blue-background: #0061B2;

$mip-dark-link-color: #081932;
$mip-dark-border-color: #BDBDBD;
$mip-light-border-color: #D2D2D2;

// Dimensioni

$mip-panel-border-radius: .625rem;
$mip-toolbar-height: math.div(50, $mip-root-font-size) + rem;
$mip-footer-height: math.div(190, $mip-root-font-size) + rem;