/**
    (C) Duel srl 2021.

    Variabili utilizzabii per la personalizzazione del layout e del design system.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

// Fonts

$mip-root-font-size: 16;
$mip-default-font-family:  'Titillium Web';

// Colors

$mip-dark-background: #001729;
$mip-light-color: #fff;

$mip-light-background: #fff;
$mip-text-color: #222;
$mip-dark-color: #222;
$mip-gray-text-color: #8C8C8C;
$mip-dark-blue-color: #001729;
$mip-blue-background: #008bff;
$mip-gray-background: #E9E9E9;
$mip-light-green-color: #00B431;
$mip-dark-red-color: #B9141B;
$mip-error-background: #B9141B;

$mip-accent-color: #DA3463;
$mip-accent-background: #DA3463;
$mip-dark-blue-background: #0061B2;
$mip-blue-color: #008BFF;

$mip-dark-link-color: #081932;
$mip-dark-border-color: #BDBDBD;
$mip-light-border-color: #D2D2D2;
$mip-dark-border-color: #BDBDBD;

// Dimensioni

$mip-panel-border-radius: .625rem;
$mip-toolbar-height: 3.2rem;
$mip-navbar-height: 5rem;
$mip-footer-height: 11.8rem;

// Stop

$mip-page-max-width: 80rem;
$mip-break-tablet: 1200px;
$mip-break-mobile: 600px;