.path-page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50%;
    margin-bottom: 2rem;
    min-width: 20rem;
    overflow: hidden;

}

.path-dialog {
    height: 10rem;
    background-color: blue;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mip-plan-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.mip-error-message {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $mip-error-color;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.mip-plan-header {
    padding: 1rem;
    padding-bottom: 1rem;
    color: $mip-text-color;
    background-color: $mip-light-background;
    font-size: .875rem;
    font-weight: 600;
}


.mip-itinerary-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    text-align: start;
    padding: 1em;
    font-size: 1rem;
    background-color: $mip-blue-background;
    color: $mip-light-color;
    img {
        margin: auto;
        margin-right: 1rem;
    }
    &.open {
        background-image: url('/icons/chevron-left-gray.svg');
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2.5rem;
    }
}

.mip-itinerary-data {
    color: $mip-text-color;
}

.mip-itinerary-time {
    color: red;
}

.mip-itinerary-panel {
    position: absolute;
    top: 0;
    left: 90%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &.open {
        left: 0%;
    }
}

.mip-leg-header {
    color: whitesmoke;
}

//----
.mip-alernative-details {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

// .path-data {
//     position: relative;
//     height: 100%;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     background-color: limegreen;
// }

// .alternative-panel {
//     position: absolute;
//     top: 0;
//     left: 5%;
//     width: 100%;
//     height: 100%;
//     background-color: lime;
//     z-index: 100;
// }

// .path-header {
//     background-color: navy;
//     color: whitesmoke;
//     width: 100%;
//     height: 4rem;
// }
// .path-alternatives {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     background-color: chartreuse;
// }    


// .leg-panel {
//     background-color: silver;
//     min-height: 5rem;
// }

// .path-panel {
//     //position: absolute;
//     top: 3rem;
//     background-color: sandybrown;
//     min-height: 20rem;
//     width: 100%;

//     .hidden {
//         display: hidden;
//     }
// }

// .open-animation {

// }
// .transition {
//     transition: 500ms ease-out;
// }

// .transform {

//     .duration-100 {
//         animation-duration: 100ms;
//     }

//     .scale-95 {
//         scale: 95%;
//     }

//     .opacity-0 {
//         opacity: 0;
//     }

//     .scale-100 {
//         scale: 100%;
//     }
// }