/**
    Duel S.p.A.

    Stili usati per i componenti delle form.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';
@import '../../styles/mixin';

.checkbox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .button {
        display: flex;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 3rem;  

        img {
            margin: auto;
        }  
    }

    .title {
        margin-top: .375rem;
        font-size: .625rem;
        line-height: 1rem;
        text-transform: uppercase;
    }

    .checked {
        background-color: $mip-light-background;
    }
    
    .normal {
        background-color: transparent;
        border: 1px solid $mip-light-background;

        img {
            filter: invert(1);
        }
    }
    
}

// Pannello generico per informazioni in formato lista 

.information_panel {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    max-height: 90vh;
    .panel_header {
        flex: 0 0 3rem;
        border-radius: 10px 10px 0px 0px;
        padding: 0 1.25rem;

        .title {
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 3rem;
            font-weight: bold;
        }
    }

    .content {
        flex: 1 1 100%;
        padding: .5rem 1.25rem;
        overflow-x: hidden;
        overflow-y: auto;
        border-left: 1px solid $mip-dark-border-color;
        border-right: 1px solid $mip-dark-border-color;
        border-bottom: 1px solid $mip-dark-border-color;
        border-radius: 0 0 $mip-panel-border-radius $mip-panel-border-radius;
    }
}


.mip_pager {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 2.75rem;
    a + a {
        margin: 0 1rem;
    }

    a {
        padding: .6em;
        font-size: 1rem;
        font-weight: bold;
        color: $mip-dark-blue-color;
    }

    .selected {
        background-color: $mip-dark-blue-background;
        color: $mip-light-color;
        border-radius: .31rem;
    }
}

.tab_panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tab_bar {
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 100%;
    }

    .tab_header {
        width: 100%;
        padding: 0 2rem;
        cursor: pointer;
        h2 {
            height: 3em;
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 3em;
        }
    }

    .tab_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        
        .visible {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        .hidden {
            display: none;
        }
    }
}

// Playback bollettino

.traffic_news_btn {
    @include mip-left-icon('notiziario', 3rem, 1rem);
    padding: .65rem 1rem .65rem 3rem;
    color: $mip-light-color;
    background-color: $mip-accent-background;
    border-radius: 3em;
    font-size: .75rem;
    font-weight: bold;
    transition: all .25s ease;
    filter: drop-shadow(0px 0px .5rem $mip-accent-background);
}

.traffic_news_btn:hover {
    transform: scale(1.15);
    transition: all .25s ease;
}

.playback_container {
    position: relative;
    .progress {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin-top: .5rem;
        color: $mip-accent-color;
    }
}