/**
    Duel S.p.A.

    Stili usati per i componenti delle form.

    Revision history

    | Data       | Autore | Descrizione 
    | ---------- | ------ | ----------------------------------- |
    | 2021/08/10 | Duel   | Prima versione                      |
*/

@import '../../styles/variables';
@import '../../styles/mixin';

// Pannello generico per informazioni in formato lista 

.information_panel {
    display: flex;
    flex-direction: column;
    .panel_header {
        flex: 0 0 3rem;
        border-radius: 10px 10px 0px 0px;
        padding: 0 1.25rem;

        .title {
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 3rem;
            font-weight: bold;
        }
    }

    .content {
        flex: 1 1 100%;
        padding: .5rem 1.25rem;
        overflow-x: hidden;
        overflow-y: auto;
        border-left: 1px solid $mip-dark-border-color;
        border-right: 1px solid $mip-dark-border-color;
        border-bottom: 1px solid $mip-dark-border-color;
        border-radius: 0 0 $mip-panel-border-radius $mip-panel-border-radius;
    }
}


.mip_pager {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 2.75rem;
    a + a {
        margin: 0 1rem;
    }

    a {
        padding: .6em;
        font-size: 1rem;
        font-weight: bold;
        color: $mip-dark-blue-color;
    }

    .selected {
        background-color: $mip-dark-blue-background;
        color: $mip-light-color;
        border-radius: .31rem;
    }
}

// Playback bollettino

.traffic_news_btn {
    @include mip-left-icon('notiziario', 3rem, 1rem);
    padding: .65rem 1rem .65rem 3rem;
    color: $mip-light-color;
    background-color: $mip-accent-background;
    border-radius: 3em;
    font-size: .75rem;
    font-weight: bold;
    transition: all .25s ease;
    filter: drop-shadow(0px 0px .5rem $mip-accent-background);
}

.traffic_news_btn:focus,
.traffic_news_btn:hover {
    transform: scale(1.15);
    transition: all .25s ease;
}

.playback_container {
    position: relative;
    .progress {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin-top: .5rem;
        color: $mip-accent-color;
    }
}

// Legenda con icone

.traffic_legend {
    margin-bottom: 2rem;
    border: 1px solid $mip-dark-border-color;

    .title {
        height: 2rem;
        padding: 0 1rem;
        border-bottom: 1px solid $mip-dark-border-color;
        font-size: .875rem;
        line-height: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 3.6rem;
        padding: 0 1rem;

        .item {
            padding-left: 2rem;
            margin-right: 2em;
            background-position: left;
            background-size: 1.5rem;
            background-repeat: no-repeat;
            font-size: .75rem;
            line-height: 1.5rem;
            font-weight: bold;
        }
    }
}

// Animated placeholder

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.5);
		filter: blur(2px);
	}
	75% {
		filter: blur(2px);
		transform: scale(1.4);
	}
}

.mip_loading_panel {
    display: flex;
	justify-content: space-between;
	align-items: center;
    div {
        min-width: .8rem;
        min-height: .8rem;
        border-radius: 50%;
        margin: .3rem;
        background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
        animation: bounce 1s 0s linear infinite;    
    }
    .blue {
        background-color: $mip-logo-blue;
        animation-delay: 0.1s;
    }
    .gray {
        background-color: $mip-logo-gray;
        animation-delay: 0.2s;
    }

    .red {
        background-color: $mip-logo-red;
        animation-delay: 0.3s;
    }
}